/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
/*===== VARIABLES CSS =====*/

 :root{ 
  /*===== Font weight =====*/
  --header-height: 3rem;
  --nav-width: 324px;
  /*===== Colors =====*/

  --blue: #132d46;
  --orange: #f25f5c;
  --white: #fbfbfb;
  
  /*===== Font Wetght and typography =====*/
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  
  --body-font:'Poppins', sans-serif;
  --h1-font-size: 2rem;
  --h2-font-size: 1.65rem;
  --h3-font-size: 1.3rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .775rem;
  
  
  /*===== Margenes =====*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  
  /*===== z index =====*/
  
  --z-fixed: 100;
  
}



@media screen and (min-width:768px){
  :root{
    --h1-font-size: 2.65rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.7rem;
    --normal-font-size: 1.2rem;
    --small-font-size: 1rem;
    --smaller-font-size: .875rem;
  }
}

/*===== BASE =====*/
*,
::before,
::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: var(--white);
  color: var(--blue);
  line-height: 1.6;
}

h1,
h2,
h3,
p{
  margin: 0;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
  color: var(--orange);
}

img{
  width: 100%;
  height: auto;
  display: block;
}


/* .logo{
  max-width: 20%;
  margin-left: auto;
  margin-right: auto;
} */


.bar-logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  align-self: flex-end;
  margin-left: auto;
  margin-top: 0.64rem;
  /* padding-left: 2.5em; */
  max-width: 13%;
}

.logo_div{
  text-align: center;
  padding-left: 6rem;
}

.fa-x{
  color: var(--white);
}
/*===== CLASS CSS ===== */

.section{
  padding: 4rem 0 2rem;
}

.section-title{
  font-size: var(--h1-font-size);
  color: var(--orange);
  margin-bottom: var(--mb-3);
  text-align: center;
}

.section-subtitle{
  display: block;
  font-size: var(--small-font-size);
  color: var(--blue);
  text-align: center;
  font-weight: var(--font-bold);
  margin-bottom: .25rem;
}

/*===== LAYOUT =====*/
.bd-grid{
  max-width: 1920px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header{
  width: 100%;
  height:60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  background-color: var(--white);
}

/*===== NAV =====*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav_menu{
  position: fixed;
  top: 0;
  left: -100%;
  width: 70%;
  height: 115vh;
  padding: 3rem;
  display: flex;
  align-items: center;
  background-color: var(--blue);
  transition: .7s;
}

.nav_close{
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: var(--orange);
  cursor: pointer;
}

.nav_item{
  margin-bottom: var(--mb-4);
}

.nav_link{
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--white);
  font-weight: var(--font-bold);
  transition: .3s;
}

.nav_link:hover,
.fa-x:hover{
  color: var(--orange);
}

.nav_toggle,
.fa-solid{
  color: var(--white);
  font-size: 1.47rem;
  cursor: pointer;
}

.fa-bars{
  color: var(--blue);
  font-size: 2rem;
  margin-top: 0.44em;
  margin-left: 0.25em;
}

/* .home_header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
} */



.home_icons{
  color: var(--white);
}


/*=== Show menu ===*/
.show{
  left: 0;
}

/*Active menu*/
.active{
  color: var(--orange);
}

/*===== HOME =====*/

.home_container{
  /* height: calc(100vh - var(--header-height)); */
  margin-bottom: 10rem;
  margin-top: 8rem;
  align-items: center;
}

.home_data{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  text-align: center;
}

.home_img{
  padding-top: 1.3rem;
  /* padding-left: .8rem; */
  width: 160px;
  height: 160px;
  background-color: var(--orange);
  /* border: 2px solid var(--orange); */
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: var(--mb-2);
}

.home_title{
  font-size: var(--h1-font-size);
  color: var(--blue);
  font-weight: var(--font-bold);
}

.home_profession{
  font-size: var(--small-font-size);
  color: var(--orange);
  margin-bottom: var(--mb-5);
}

.home_social{
  margin-bottom: 3rem;
}

.home_social-link{
  display: inline-flex;
  background-color: rgb(239, 230, 230);
  color: var(--blue);
  font-size: 1.1rem;
  border-radius: 50%;
  padding: .40rem;
  margin: 0 var(--mb-1);
  transition: 0.4s;
}

.home_social-link:hover{
  background-color: var(--blue);
  color: var(--orange);
}


/* .home_img img{
  width: 155px;
} */

/* .logo,
.home_title{
  padding: 0.5em;
} */

/*BUTTONS*/

.button{
  display: inline-block;
  background-color: var(--orange);
  color: var(--white);
  padding: 1rem 1.5rem;
  font-weight: var(--font-semibold);
  border-radius: .5rem;
  transition: 0.4s;
}

.button:hover{
  background-color: var(--blue);
  color: var(--orange);
}

/* ===== ABOUT =====*/

.education-job,
.services,
.works{
  margin-bottom: 10rem;
}
.about_container{
  row-gap: 2rem;
}

.about_data{
  text-align: center;
}

.about_description{
  margin-bottom: var(--mb-4);
  text-align: center;
  line-height: 1.8;
}

.about_img{
  border-radius: .5rem;
  margin: 0 auto;
}

/* ===== SKILLS =====*/
.skills_conatiner{
  row-gap: 2rem;
}

.skills_data{
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 var(--mb-2);
  margin-bottom: var(--mb-4);
}

.skills_bar{
  position: absolute;
  bottom: -.75rem;
  height: .45rem;
  border-radius: 12px;
  background-color: var(--orange);
}

.skills_branding{
  width: 88%;
}

.skills_java{
  width: 84%;
}

.skills_web-dev{
  width: 93%;
}

.skills_web-design{
  width: 91%;
}

.skills_magazine{
  width: 92%;
}

.skills_motion-graphics{
  width: 90%;
}


/* ===== EDUCATION =====*/
.education_container{
  row-gap: 2rem;
  margin-bottom: 4rem;
}

.education_content{
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
}

.education_year,
.education_race{
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
}

.education_university,
.education_speciality{
  display: block;
  font-size: var(--smaller-font-size);
}

.education_year,
.education_university{
  text-align: right;
}

.education_time{
  padding: 0 1rem;
  justify-self: center;
}

.education_rounder{
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: var(--orange);
  border-radius: 50%;
}

/* .education_race{
  font-size: 0.85rem;
} */

.education_rounder::before{
  content: '';
  position: absolute;
  transform: translate(-4px, -4px);
  width: 20px;
  height: 20px;
  border: 1px solid var(--orange);
  border-radius: 50%;
}

.education_line{
  display: block;
  height: 90%;
  width: 3px;
  background-color: var(--orange);
  transform: translate(5px, -4px);
}

/* ===== SERVICES =====*/

.services_container{
  row-gap: 2rem;
}

.services_content{
  padding: 1.5rem .5rem;
  /* border: 2px solid var(--orange); */
  background-color: var(--blue);
  border-radius: .5rem;
  text-align: center;
}


.services_icon{
  font-size: 2.2rem;
  color: var(--orange);
  padding: .5rem;
  background-color: var(--white);
  border-radius: 50%;
  margin-bottom: var(--mb-2);
}

.services_title{
  font-size: var(--h3-font-size);
  color:var(--orange);
  margin-bottom: var(--mb-1);
}

.services_description{
  color: var(--white);
}

/* ===== PROJECT IN MIND  =====*/


/* ===== WORKS =====*/
.works_container{
  justify-items: center;
  row-gap: 2rem;
}

.works_img{
  position: relative;
  overflow: hidden;
  border-radius: .5rem;
  cursor: pointer;
  /* object-fit: cover;
  width: 100%;
  max-height: 100%; */
}

.works_data{
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(19, 45, 70, 0.7);
  border-radius: .5rem;
  transition: .3s;
  cursor: pointer;
}

.works_data span{
  text-align: center;
}

/* .works_link{
  display: inline-flex;
  font-size: 1.5rem;
  background-color: var(--white);
  color: var(--orange);
  padding: .25rem;
  border-radius: .25rem;
  margin-bottom: var(--mb-2);
} */

.works_title{
  font-size: var(--h2-font-size);
  color: var(--white);
  font-weight: var(--font-semibold);
}

.works_img:hover .works_data{
  bottom: 0;
}


/* ===== CONTACT =====*/
.contact_container{
  row-gap: 3rem;
  margin-bottom: 3rem;
}

.contact_input{
  width: 100%;
  padding: 1rem;
  outline: none;
  border: none;
  background-color: #EAE7E6;
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-2);
  border-radius: .5rem;
}


.contact ::placeholder{
  color: var(--blue);
  font-family: var(--body-font);
  font-weight: var(--font-medium);
}

.contact_button{
  outline: none;
  border: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  cursor: pointer;
}

.contact_info{
  margin-bottom: var(--mb-3);
}

.contact-title{
  margin: 0;
}

.contact_subtitle{
  font-size: var(--h3-font-size);
  color: var(--blue);
  text-align: center;
  margin-bottom: var(--mb-1);
  padding: .8em;
}

.contact_text{
  display: block;
  padding-left: 1rem;
}

/* ======= POPUP ======= */

.popup_bg_1,
.popup_bg_2,
.popup_bg_3,
.popup_bg_4,
.popup_bg_5,
.popup_bg_6{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibilty .3s, opacity 0.4s;
}

.bg_active{
  visibility: visible;
  opacity: 1;
}

.popup_modal{
  background-color: var(--white);
  border-radius: .5rem;
  padding: 1.2rem;
  width: 90%;
  /* height: 70%; */
}

/* .popup_modal img{ */
  /* max-width: 80%; */
  /* margin-left: auto;
  margin-right: auto; */
/* } */

.portfolio_modal{
  margin-bottom: 2rem;
  border-radius: .5rem;
}

.popup-title{
  margin-bottom: 2rem;
  border-bottom: solid 4px var(--orange);
  padding-bottom: 10px;
}

.modal-btn{
  bottom: 0;
}

.modal_content p{
  margin-bottom: 2rem;
}

.popup_close{
  font-size: 1.34rem;
  color: #132d46;
  margin-right: auto;
}

.popup_bg_4 img{
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}



.close_popup{
  transition: 0.5s;
  text-align: right;
  margin-bottom: .5rem;
}


/* ===== FOOTER =====*/
.footer{
  background-color: var(--orange);
  color: var(--white);
  text-align: center;
}

.footer_img{
  max-width: 15%;
  margin-bottom: var(--mb-2);
  border-radius: .5rem;
  margin-left: auto;
  margin-right: auto;
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 668px) {
  .nav_menu{
    width: var(--nav-width);
  }

  .about_container{
    grid-template-columns: repeat(2, 1fr);
    gap: .7rem;
    margin-bottom: 5rem;
  }

  .about_container h2{
    font-size: var(--h2-font-size);
  }

  .about_img{
    max-width: 60%;
  }

  .about_description{
    text-align: left;
    padding-left: 2.78em;
    line-height: 1.8;
  }

  .education-job{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }

  .modal_content p{
    font-size: var(--small-font-size);
  }

  .education-job h2{
    font-size: var(--h2-font-size);
  }

 .education_year{
  font-size: 16px;
 }

 .works_img img{
  height: 300px;
  object-fit: cover;
  object-position: bottom bottom;
  width: 310px;
 }


  .works_container,
  .services_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }


  .footer_img{
    max-width: 9%;
  }

  .popup_modal{
    width: 50%;
  }

  

  .popup_bg_2 img{
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  .popup_bg_5 img{
    max-width: 89%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1260px){
  body{
    margin: 0;
    padding-left: var(--nav-width);
  }

  .l-header{
    width: 0;
  }

  .nav_close,
  .nav_toggle,
  .nav_logo{
    display: none;
  }

  .nav_menu{
    left: 0;
  }

  .section{
    padding: 3rem 0 2rem;
  }

  .about_description{
    padding-left: 6em;
    line-height: 2;
  }

  .works_img img{
    height: 315px;
    width: 290px;
    object-fit: cover;
    object-position: left left;
   }

   .owl_img_data{
    object-position: bottom bottom;
  }

  .works_img .arc_img_data{
    object-position: left left;
   }

  .education-job,
  .services,
  .works{
  margin-bottom: 10rem;
}

   .popup_bg_3 img{
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .works_container{
    grid-template-columns: repeat(3, 1fr);
  }

  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }

  .contact{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  .contact_subtitle{
    font-size: 1.4rem;
  }

  .popup_modal{
    width: 45%;
    z-index: 4;
    margin-left: var(--nav-width);
  }

  .footer_img{
    max-width: 6%;
  }
}

@media screen and (min-width: 1625px){
  .about_description{
    padding-left: 16em;
    line-height: 2;
  }

  .works_img img{
    height: 305px;
    width: 415px;
    object-fit: cover;
    object-position: bottom bottom;
   }

   .popup_bg_4 img{
    max-width: 55%;
    margin-left: auto;
    margin-right: auto;
  }


  .about_img{
    max-width: 45%;
  }

  .about_container{
    gap: 0;
  }

}



/* =====POPUP===== */

